<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Adofai Map VFX Remover - Choose</title>
</head>
<body>
    <form method="POST" enctype="multipart/form-data" action="">
        <input type="checkbox" name="box" value="MoveTrack"><b>MoveTrack</b><br>
        <input type="checkbox" name="box" value="ColorTrack"><b>ColorTrack</b><br>
        <input type="checkbox" name="box" value="RecolorTrack"><b>RecolorTrack</b><br>
        <input type="checkbox" name="box" value="SetFilter"><b>SetFilter</b><br>
        <input type="checkbox" name="box" value="HallOfMirrors"><b>HallOfMirrors</b><br>
        <input type="checkbox" name="box" value="ShakeScreen"><b>ShakeScreen</b><br>
        <input type="checkbox" name="box" value="Bloom"><b>Bloom</b><br>
        <input type="checkbox" name="box" value="MoveCamera"><b>MoveCamera</b><br>
        <input type="checkbox" name="box" value="MoveDecorations"><b>MoveDecorations</b><br>
        <input type="checkbox" name="box" value="AddDecoration"><b>AddDecoration</b><br>
        <input type="checkbox" name="box" value="Flash"><b>Flash</b><br>
        <input type="checkbox" name="box" value="CustomBackground"><b>CustomBackground</b><br>
        <input type="submit" value="提交">
    </form>
</body>
</html>