<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="static/jquery.js"></script>
    <script src="static/jquery.form.js"></script>
    <title>Adofai Map VFX Remover - Upload</title>
</head>
<style>
    button{
        width: 300pt;
        height: 100pt;
        align-items: center;
    }
</style>
<body>
    <h1>Adofai Map VFX Remover</h1>
    <input type="file" hidden id="adofai" name="adofaifile">
    <button>Click to Upload</button>


    <script>
        $(document).on('click','button', function(){
            $("#adofai").click()
        })

        $('#adofai').change(function(){
            var file = this.files[0];     
            var formData = new FormData()
            formData.append('adofaifile', file)
            $.ajax({
                type: 'POST',
                url: 'http://127.0.0.1:5123',
                data: formData,
                crossDomain: true,
                processData: false,
                contentType: false,
                success: function(response) {
                    var jdata = JSON.parse(response)
                    file_redirect = jdata.file_redirect
                    window.location.href = file_redirect
                }
            })
        })

    </script>
</body>
</html>